<div class="container" *ngIf="addForm">
  <form class="form-horizontal" [formGroup]="addForm" (ngSubmit)="onSaveClick()">
    <fieldset>
      <div class="form-group">
        <label class="col-md-3 control-label" for="title">{{title}}</label>
        <div class="col-md-9">
          <textarea formControlName="title" placeholder="Detalii despre ce oferi" id="title" type="text" class="form-control input-md"></textarea>
          <span class="help-block" *ngIf="!addForm.get('title').valid && addForm.get('title').touched">
            {{detailsV}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="details">{{details}}</label>
        <div class="col-md-9">
          <input formControlName="name" placeholder="Florentina Dragu"  id="name" type="text" class="form-control input-md">
          <span class="help-block" *ngIf="!addForm.get('name').valid && addForm.get('name').touched">
            {{nameV}}
          </span>
          <input formControlName="contactPerson" placeholder="Persoana de contact" id="contactPerson" type="text" class="form-control input-md">
          <span class="help-block" *ngIf="!addForm.get('contactPerson').valid && addForm.get('contactPerson').touched">
            {{personV}}
          </span>
          <input formControlName="phoneNumber" placeholder="Numar de telefon" id="phoneNumber" type="text" class="form-control input-md">
          <span class="help-block" *ngIf="!addForm.get('phoneNumber').valid && addForm.get('phoneNumber').touched">
            {{phoneV}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="address">{{address}}</label>
        <div class="col-md-9">
          <textarea formControlName="address" placeholder="Adresa de unde se poate ridicat" id="address" type="text" class="form-control input-md"></textarea>
          <span class="help-block" *ngIf="!addForm.get('address').valid && addForm.get('address').touched">
           {{addressV}}
          </span>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!addForm.valid">{{buttonName}}</button>
    </fieldset>
  </form>
  </div>
