<style>
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
</style>
<!-- Landing Page -->
<div class="content" role="main">
  <!-- Situation Stats -->
  <div class="row">
    <div class="column">
      <div id="confirmati" class="card card-small">
        <span>Confirmati:
              1.429</span>
      </div>
    </div>
    <div class="column">
      <div id="vindecati" class="card card-small">
        <span>Vindecati:
              121</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div id="carantina" class="card card-small">
        <span>Carantina:
            7.429</span>
      </div>
    </div>
    <div class="column">
      <div id="izolare" class="card card-small">
        <span>Izolare:
            150.532</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div id="apeluri112" class="card card-small">
        <span>Apeluri 112: 
            2.429</span>
      </div>
    </div>
    <div class="column">
      <div id="telverde" class="card card-small">
        <span>Telverde:
            12.453</span>
      </div>
    </div>
  </div>
  <!-- App stats -->
  <div></div>

  <!-- Footer -->
  <footer>
    <button type="button">
      Cereri/Donatii
      <img src="images/button/masuk.png" height="35" />
    </button>
    <button type="button">
      Ofera/cere ajutor
    </button>
    <button type="button">
      Profilul meu
    </button>
  </footer>
</div>
